6-DashboardEstudiante.json
{
  "name": "6-DashboardEstudiante",
  "nodes": [
    {
      "parameters": {
        "path": "dashboard-estudiante",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        -176
      ],
      "id": "7c5eafdb-7552-4aa2-b20b-45e2be15885a",
      "name": "Webhook",
      "webhookId": "ab8081fd-640f-44a1-b7a9-db8d3c55239e"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        512,
        64
      ],
      "id": "035a826e-f319-442d-933d-770228afa154",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const entregas =\n$input.all().map(\n    item => item.json\n);\n\nreturn [\n{\n    json:{\n        entregas\n    }\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -208
      ],
      "id": "7de2b74a-7d9d-4c30-9eb3-9d5eba72ea21",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    t.Titulo,\n    e.Estado,\n    e.Nota,\n    e.FechaEntrega\nFROM Entregas e\nINNER JOIN Tareas t\n    ON e.IdTarea = t.IdTarea\nWHERE e.IdEstudiante = 1\nORDER BY e.FechaEntrega DESC",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        48,
        32
      ],
      "id": "30bfef6f-6b2f-4231-8be1-82c9215c7c99",
      "name": "Dashboard-ESTUDIANTE",
      "credentials": {
        "microsoftSql": {
          "id": "UsRFdn95K5vtKwV4",
          "name": "Microsoft SQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dashboard-ESTUDIANTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dashboard-ESTUDIANTE": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7fdf80eb-45ba-4ee0-9093-fb91de8c5c14",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "oD4AlijP4iQIpVF8",
  "tags": []
}