9-listartareas.json
{
  "name": "9-listartareas",
  "nodes": [
    {
      "parameters": {
        "path": "tareas-activas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        -80
      ],
      "id": "d242d7ab-e33c-48d0-a1d6-c47a85fcbe94",
      "name": "Webhook",
      "webhookId": "8873728a-beee-4c0e-9551-9b103d79875c"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT IdTarea, Titulo\nFROM Tareas\nWHERE Estado = 'ACTIVA'",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -32,
        112
      ],
      "id": "cda952a4-bf96-47a0-8607-1110731d844c",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "UsRFdn95K5vtKwV4",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n{\njson:{\ntareas:\n$input.all().map(\nitem => item.json\n)\n}\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -128
      ],
      "id": "71001d08-132f-4c2a-93f1-c26d958a9958",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        496,
        112
      ],
      "id": "8352b4f3-5aff-410c-be50-1a0dba021969",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2fb2ac42-e517-4eb3-98a3-0aa810cc36b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "bG6OxrY5OFP1rn4i",
  "tags": []
}